*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 font-family: 'Helvetica';
 font-size: 14px;
 font-weight: 500;
}

@font-face {
font-family: 'Helvetica';
src: url('../src/assets/Fonts/Light.ttf');
}


@font-face {
 font-family: 'Quickkiss';
 src: url('../src/assets/Fonts/QuickKissPersonalUse-PxlZ.ttf');
}

@font-face {
 font-family: 'Casandra';
 src: url('../src/assets/Fonts/CassandraPersonalUseRegular-3BjG.ttf');
}

@font-face {
 font-family: 'Countryside';
 src: url('../src/assets/Fonts/Countryside-YdKj.ttf');
}

@font-face {
 font-family: 'COUNTRYSIDETWO';
 src: url('../src/assets/Fonts/CountrysideTwo-r9WO.ttf');
}


@font-face {
 font-family: GreatVibes;
 src: url('../src/assets/Fonts/GreatVibes.ttf');
}
p , h1, h2, h3, h4, h5, h6 , span, a, button, input, label, select, option, textarea{
 font-family:  Helvetica;
}


/* * changing the scroll bar  */

::-webkit-scrollbar {
 width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
 background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
 background: #888;
}


body, .themeTransition{
transition: all 0.5s;
}